.idea
.DS_Store
.vscode
.tag

db.sqlite3
pgdata
venv
__pycache__
*.py[co]
*.mo
*.retry

reports
output
node_modules
frontend/build
frontend/node_modules
staticfiles
requirements_local.txt
generated
media
docker-compose-local.yml
dump.sql
env
